@font-face {
  font-family: "iconfont"; /* Project id 3308425 */
  src: url('iconfont.woff2?t=1649299923583') format('woff2'),
       url('iconfont.woff?t=1649299923583') format('woff'),
       url('iconfont.ttf?t=1649299923583') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuanjiaojuxing:before {
  content: "\edf8";
}

.icon-pinghangsibianxing:before {
  content: "\edf9";
}

